* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
      }
body {font-size: 1em;
    font-family: sans-serif;
    margin: 0 auto;
}
header, section, footer, aside, article, figure {
  display: block;
}
section {
  margin-bottom: .1em;
}
main {
   margin: 0 auto;        
  }
/* grid code for mobile first */
.boxes { border: solid 8px #fff;   
          margin: 5px auto;
          display: grid;
          grid-gap: 7px;
          grid-template-columns: 20% 80% ; /*repeat(2, 1fr);*/
          grid-template-rows: 50px auto 100px 20px 50px 100px 70px 30px 70px 30px 70px 30px 70px auto 50px auto auto 50px;
      }

aside, article, section, header, nav, footer {
          background-color: salmon;  /* -check grid-area  */
      }/* check mobile filds */
      .header     {grid-row: 1 / 2; grid-column: 1/-1;}
      .login1     {grid-row: 2 / 3; grid-column: 1/-1;} 
      .nav        {grid-row: 3 / 4; grid-column: 1/-1;}
      .search     {grid-row: 4 / 5; grid-column: 1/-1;}
      .aside0     {grid-row: 5 / 6; grid-column: 1 /2;}
      .aside1     {grid-row: 7 / 8; grid-column: 1 /2;}  /* z-index: -1;  */  
      .aside2     {grid-row: 8 / 9; grid-column: 1 /-1;}
      .aside3     {grid-row: 10 / 11; grid-column: 1 / -1;}
      .aside4     {grid-row: 12 / 13; grid-column: 1/-1; } /*z-index:  */

.article2      {grid-row: 5 / 6; grid-column: 1 / -1;}
      
      .article12  {grid-row: 5 / 6; grid-column: 2 / -1;} 
      .carusel    {grid-row: 6 / 7; grid-column: 1 / -1;}
      .section1   {grid-row: 7 / 8; grid-column: 2 / -1;}
      .section2   {grid-row: 9 / 10; grid-column: 1 / -1;}
      .section3   {grid-row: 11 / 12; grid-column: 1 / -1;}
      .section4   {grid-row: 13 / 14; grid-column: 1/-1;} /*  z-index: -1; */
      .footer1    {grid-row: 14 / 15; grid-column: 1 / -1;}
   /*  .footerMap  {grid-row: 13 / 14; grid-column: 1 / -1;}  */
      .footer2    {grid-row: 15 / 16; grid-column: 1 / -1;}
     .footerLogo  {grid-row: 16 / 17; grid-column: 1/-1;}
     .login       {grid-row: 17 / 18; grid-column: 1/-1;}
      .footer3    {grid-row: 18 / 19; grid-column: 1 / -1;}

.footer1 { background-color: aliceblue;}
.footer3 {
  background-color: yellowgreen;
   align-content: center;
}


img {                  /* responsive image */
   max-width: 100%;
   height: auto;
    }
figcaption, .footer3>p {
  font-size: 12px;
  color: black;  
  font-style: italic;   
}
figcaption {
  text-align: right;
}
.footer3>p {
  text-align: center;
}

/*  Code for navigation */
.nav ul, .login ul, .login1 ul, .footer1 ul, .footer2 ul {   /*  group selector */
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.nav li {
  width: 100%;
  border-bottom: solid 1px #fff;
  background-color: #ccc;
  padding: .5em;
}
.nav li a{
      display: block;
      text-align: center;
      text-decoration: none; 
      color:  black;
    }
.nav li:hover {    /*  pseudo class selector */
  background-color: antiquewhite;
} 
.nav li:active {
  color: #fff;
  background-color: chartreuse;
}        
.nav li a:active {
  color: #fff;
  background-color: chartreuse;
  /*  border-bottom: 3px solid  #f1830d;*/
}        
.nav a:visited {
  color:  indianred;
}
.login li, .login1 li {
  display: inline-block;  
  position: relative; 
  margin: 0 ; 
  width: 49%;
  border: solid 1px #fff;
  background-color: black;
  padding: .5em;
}
.login li a, .login1 li a{
      display: block;
      text-align: center;
      text-decoration: none; 
      color:  white;
    }
.login li a:hover, .login1 li a:hover  {
  color:yellow;
} 
.footer3 > article {
  padding: .1em;
  align-content: space-around;
}

li.dropdown {
display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #71B2C0;
  min-width: 160px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  */
  z-index: 1;
}
.dropdown-content a {
  color:#fff;
padding: 10px 16px;
text-align: left;
}
.dropdown-content a:hover {
  background-color: dimgrey; /*#5E2646; */
  color: yellow;
}
.dropdown:hover .dropdown-content {
display: block;
}
.nav ul li:hover ul {
  display: block;
}  
.nav ul ul { 
  display: none;
  position: absolute;
  background-color: aqua;  /*#0077a3;
  min-width: 160px;*/
  z-index: 1;
}
.nav li li {
 /*  border-bottom: solid 3px yellow;
width: 35px;    */
}
nav label,#hamburger{display: none;}

                    /* media quries - for scren more550px */
@media screen and (min-width: 550px) {

  .flex2 {width: 80%;}
.flex>div {width: 33%; padding: 1.7em;}
.flex {padding-left: .5em;
      display: flex;
      flex-direction: row;
      align-items: flex-start;/*  */
      background: #ededed;
      flex-wrap: wrap;/* mediaQuiry-defolt - nowrap*/
      align-content: space-around;/* mediaQuiry-stretch*/
     }    
/* JJ 
  - grid for header -large    
  */
.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(12, 1fr);
  border: 1px gray;
}
.header img {
  margin: 0.7em;
}
.header article#social {
  grid-row: 1;
  grid-column: 9/-1;
}
.header img.logo {
  grid-row: 3/4;
  grid-column: 1/5;
}
  /* JJ - end code grid for header -large */
  
main {
         margin: 0 auto;
         max-width: 1200px;
  }
 
  /* grid -big screen */
   .boxes {
          border: solid 8px #fff;
          max-width: 1000px;
          margin: 5px auto;
          display: grid;
          grid-gap: 2px;
          grid-template-columns: repeat(12, 1fr);
          grid-template-rows: 90px 50px 100px 200px 80px 80px 80px 100px 50px 50px 50px;
      }

  aside, article, section, header, nav, footer {
          background-color: lightblue;}   /*   for check grid areas */
  
      .header    {grid-row: 1 / 2; grid-column: 1 / span 12;}
      .nav       {grid-row: 2 / 3; grid-column: 1 / span 12;}
      .aside0    {grid-row: 3 / 4; grid-column: 1 / span 2;}
      .aside1    {grid-row: 5 / 6; grid-column: 1 / span 2;}
      .aside2    {grid-row: 6 / 7; grid-column: 1 / span 2;}
      .aside3    {grid-row: 7 / 8; grid-column: 1 / span 2;}
      .aside4    {grid-row: 8 / 9; grid-column: 1 / span 2;}
/* calendar, academics-article1, article2 */ 
.article1   {grid-row: 3 / 4; grid-column: 3 / span 5;}
.article2   {grid-row: 3 / 4; grid-column: 8 / span 5;}
      
      .article12  {grid-row: 3 / 4; grid-column: 3 / -1;} 
      .carusel    {grid-row: 4 / 5; grid-column: 1 / span 12;}
      .section1   {grid-row: 5 / 6; grid-column: 3 / span 10;}
      .section2  {grid-row: 6 / 7; grid-column: 3 / -1;}

      .section3    {grid-row: 7 / 8; grid-column: 3 / -1;}
      .section4    {grid-row: 8 / 9; grid-column: 3 / -1;}
     
      .footer1     {grid-row: 9 / 10; grid-column: 1 / span 12;}
  /* .footerMap      {grid-row: 9 / 10; grid-column: 8 / -1;}  */
      .footer2     {grid-row: 10 / 11; grid-column: 1 / span 12;}
      .footer3     {grid-row: 11 / 12; grid-column: 1 / span 12;}
  
  .footerMap {padding: .1em;background-color: aliceblue;}
  .login, .login1, .footerLogo  {display: none;} 

  
  /*  Code for navigation, large screen */
/* usual code - 
.nav ul {position: relative; width:100%; margin: 0; padding: 0;}  
.nav li {display: inline-block;  position: relative; margin: 0 ; width:12%;
  background-color: white;}   */ 
                      /* JJ - grid for NAV -large */
.nav ul {
      display: flex;
      flex-direction: row;
      align-items: center;
   width: 100%;
     }    
.nav li {
  background-color: white;}   
.nav li:hover {                /*  pseudo class selector */
  background-color: white; }     
.nav a:active {
  border-bottom: 3px solid  #f1830d;
}        
.nav a:visited {
  color:  gray/* #a3ddf2;*/
}
.nav label,#hamburger{display: none;}    
  /*  */
.nav li a:hover {
       /* color: #369 ; */
   border-bottom: 3px solid  #f1830d;
    }
 
/* a:hover { border-bottom: 3px solid  #f1830d; }*/     

.nav li:first-child {padding-left:  4px;
      margin-left: 10px;}  
      
/* end code for nav*/

  
/* Create three equal columns that floats next to each other */
.column {
background-color: aqua;    
float: left;
width: 33.33%;
padding: 10px;
height: 300px; /*  */
}  